PORT=<your port, example: 5050>
BACKEND_URL=<your backend url, example: http://localhost>
CORS_ORIGIN=<your frontend url, example: http://localhost:3000>
DB_LOCAL_DBNAME=<your database name, example: database>
DB_LOCAL_USER=<your database user login>
DB_LOCAL_PASSWORD=<your database password>
STRIPE_PUBLISHABLE_KEY = pk_test_51Nw7l8Cw7jRcWAe8jDuzAXZqjE6PnaZtgvroTBIKOCKDe7HSpUqDIxtRA2ZmjG7ElUvTsC4sOgI2BezHDslp8WV1009HYC3azO
STRIPE_SECRET_KEY = sk_test_51Nw7l8Cw7jRcWAe8OPf3ebr98lZA9Th2NWhqpElCHZZg9rZjSkgwPlKtmMwf6VySuPa5atbB7SzpsR2mv709N1Dn00BFPblAWc